.pulse {
  animation: bump 0.5s 0s 2 ease-in;
}

@keyframes bump {
  0%,
  100% {
    color: #606c76;
    font-weight: 500;
  }

  25%,
  75% {
    color: #606ebf;
    font-weight: 700;
  }

  50% {
    color: #606ebf; /* #663300; */
    font-weight: 900;
  }
}
