/* Utils */
.hide-everywhere {
  display:none;
}

/* Miligram overrides */
a {
  font-family: "Roboto Condensed"; /* "Alegreya", serif; */
  color: #663300;
}

a:visited {
  color: #a65400;
}

p {
  margin-bottom:1rem;
}

.staff {
  color:#d33c44;
}

.row .column.column-90 {
    flex: 0 0 90%;
    max-width: 90%;
}

summary {
  font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
  font-weight: bold;
  font-size:2.2rem;
  color: #606ebf;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

summary:focus {
  background-color:#ebeefa;
  outline:none;
}

details > summary.h2 {
  font-size:2.8rem;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
  color: #606ebf;
  hyphens: manual;
}

h1 {
  font-size:3.6rem; /* 3.6 */
  line-height:1.25;
}

h1 span {
    color: #606c76;
    vertical-align: top;
    font-size: 75%;
  }

h2 {
  font-size:2.8rem; /*2.8*/
  line-height:1.3;
}

.column-66>h2 {
  margin-top:0;
}

h3 {
  font-size:2.2rem; /*2.2*/
  letter-spacing:0rem; /* -.08rem; */
  line-height:1.35;
}

h4 {
  font-size:1.8rem;
  letter-spacing:0rem; /* -.05rem; */
  line-height:1.5;
}

h5 {
  margin-bottom: 0.5rem;
}

.pretitle {
  font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #606ebf;
  padding-bottom:0.5rem;
}

.parent {
  text-align:center;
}
.parent img {
  height: 33vh;
}

.parent table {
  max-width:80%;
}

a sup {
  vertical-align: top;
  font-size: 75%;
}

/* Forms */

button, .button , .button:visited,
input[type='button'], input[type='reset'], input[type='submit'] {
    background: #663300; /* #cabcafa3*/
    border-color: #663300;
    font-family: "Roboto Condensed", serif;
    font-size: 1.6rem;
    color: #ffffff;
  }

.button:hover, .button:focus, .button:active {
    color: #ffffff;
    background: #a65400;
    border-color: #a65400;/* #cabcaf; */
}

.button-staff, .button-staff:visited {
    background: #b1000c;
    border-color: #b1000c;
    color: #ffffff;
}

.button-staff:hover, .button-staff:focus, .button-staff:active {
  background: #d33c44;
  border-color: #d33c44;
  color: #ffffff;
}

.float-button {
  position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
}

textarea {
  height:auto;
}

legend {
    font-family: "Imprima", sans-serif;
    font-size: 2.4rem;
    color:#606ebf;
  }

label {
    font-family: "Imprima", sans-serif;
    font-size: 1.8rem;
  }

legend, label {
  margin-bottom: 1.2rem;
}

.input.radio label:not(:first-child) {
    font-size: 1.6rem;
    font-weight: normal;
}

/* styling checkbox? works only on Chrome for now...
input[type='checkbox'] {
  transform: scale(1.5) translate(+25%, 0%);
}

.input.checkbox label > input {
    margin-right: 1.5rem;
} */

/* Tables */

tr:hover {
    background-color:#ebeefa;
  }

table {
  padding-left:1rem;
}
table.summary {
  padding-left:0rem;
}

table.summary>tbody>tr>td:last-of-type {
  text-align:right;
}
table.summary>thead>tr>th:last-of-type {
  text-align:right;
}

table.summary>tbody>tr>td {
  padding: 0em 0.5em; /* 0.2/0.5rem */
  vertical-align:top; /* middle */
  border-bottom: none;
}

table.summary>thead>tr>th {
  padding: 0em 0.5em; /* 0.2/0.5rem */
  vertical-align:top; /* middle */
}

table.summary {
    margin-bottom:1.4rem;
    font-size: 1.4rem;
  }

table.condensed.stats.histogram>tbody>tr>th>div{
  padding-right:0.5rem;
  float:right;
  min-width:7ch; /*3em for health, 7ch for coi? */
  background:#3d5299;
}

table.condensed.stats.histogram>tbody>tr>th{
    width:40%;
    color:#ffffff;
    text-align:right;
    font-size:smaller;
    font-weight:normal;
    padding:0.25em 0em 0.25em 0.5em;
    vertical-align:middle;
  }

table.condensed.stats.histogram>tbody>tr>td{
    font-size:1.4rem;
    line-height:1.2em;
    padding-top:0;
    padding-bottom:0;
    vertical-align:middle;
  }

table.condensed.stats>tbody>tr>th{
    width:40%;
    vertical-align:top;
  }

table.condensed.stats>tbody>tr>td{
    vertical-align:top;
  }

table.condensed.stats {
    vertical-align:top;
  }

table.condensed {
    margin-bottom:1.5rem;
  }

table.caption {
    margin-bottom: 1.5rem;
    padding: 0rem;
    vertical-align:top;
  }

table.caption>tbody>tr>th {
    text-align:left;
    font-size:1.4rem;
    padding: 0rem;
    vertical-align:top;
  }

table.caption>tbody>tr>td {
    text-align:right;
    font-size:1.4rem;
    padding: 0rem;
    vertical-align:top;
  }

/* table.condensed>tbody>tr>td{
    border-bottom: none;
    padding:0rem 1rem;
  }
  */

table.condensed>tbody>tr>th{
    /* border-bottom: none;
    padding:0rem 1rem;*/
    width:26%;
  }

td,th {
    border-bottom: none;
    padding:0rem 1rem;
  }

.false-a {
  font-family: "Roboto Condensed";
  color: #606c76;
}

.actions, .actions-title {
    text-align:right;
  }

.nowrap {
    white-space: nowrap;
}

blockquote {
    font-family: "Alegreya", serif;
    font-style: italic;
    border-left: none;
    margin: 1em 0;
    padding: 0.5em 5rem;
    line-height: 1.5;
    position:relative;

  }

blockquote:before {
    display: block;
    font-family: "Alegreya", serif;
    font-size: 4em;
    content: "\201C";
    position: absolute;
    left: 0rem;
    top: -2.5rem;
}

.float-right {
    margin-left: 6px;
    text-align:right;
  }

.avatar {
  max-width:25%;
}

.sexmark {
  font-size:2.8rem;
  line-height:1.1;
  font-weight:bold;
  /* margin-bottom:2.0rem;
  margin-top:0; */
}

.sexcolor_F {
  color: #ff99cc;
  font-weight:bold;
}

.sexcolor_M {
  color: #99ccff;
  font-weight:bold;
}

/* should be read from states table later ('css property' field) */
.statecolor_1 {
  color: #1f9d55;
  font-weight: bold;
}

.statecolor_2 {
  color: #1f9d55;
  font-weight: bold;
}

.statecolor_3 {
  color: #ff8c1b;
  font-weight: bold;
}

.statecolor_4 {
  color: #cc1f1a;
  font-weight: bold;
}

.statecolor_5 {
  color: #663300;
  font-weight: bold;
}

.statecolor_6 {
  color: #343740;
  font-weight: bold;
}
/* end of states color */

/* Utility */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

/* Main */
body {
    font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
    font-weight: 400;
    background: #f5f7fa;
  }

main {
    /* "Sticky" footer - 36.5rem is the height of nav-bar+footer */
    min-height: calc(100vh - 36.5rem);
  }

.container {
    margin-top: 2rem;
  }

.content {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  }
.actions img{
    min-width: 1em;
  }

/* .actions a {
    font-weight: bold;
    padding: 0 0.4rem;
  } */

th {
    white-space: nowrap;
    border-bottom-width: 0rem;
    /*padding-bottom:0.2rem;*/
  }
.signature {
  font-family:"Alegreya",serif;
  font-style:italic;
  color: #90a2b1;
  font-size: smaller;
  text-align:right;
  padding-top:1.5em;
}
.discrete-link {
  font-family:"Alegreya",serif;
  font-size: 1.6rem;
  font-style:italic;
  margin-bottom: 1.5rem;
}
.creditline {
  font-family:"Alegreya",serif;
  font-style:italic;
   color: #ffffff;  /*gray: comment out here */
  font-size: 1.1rem;
  text-align:right;
  line-height:1.2rem;
  padding-bottom:0.5rem;
  padding-right:1.5rem;
}
.shieldline span {
    color: #bfc9ff; /*gray footer: #606ebf ; hue 226: #bfc99ff*/
  }
.shieldline {
  /* font-family:"Alegreya",serif;*/
  color:#ffffff; /*gray footer: #663300 */
  font-size: 1.4rem;
  font-weight: bold;
  line-height:1.5rem;
  text-align:center;
  margin-top:-0.3rem;
  padding-right:0;
}
.versionline {
  font-family:"Alegreya",serif;
  /* font-style:italic; */
  color: #ffffff; /* comment out for gray line */
  font-size: 1rem;
  text-align:center;
  margin-top: 0.2rem;
  /* line-height:1.2rem; */
  /* padding-bottom:0.5rem; */
  /* padding-right:1.5rem; */
}

/* Nav bar */
.top-nav {
    background: linear-gradient(90deg, #402000, #8C4600); /*more: #331a00, #994d00 */
    display: flex;
    /* display: block; */
    align-items: center;
    justify-content: space-between;
    max-width: 112rem;
    /*
    max-width: 100%;
    */
    padding: 2rem;
    /* position: sticky; */
    top: 0;
    z-index: 10;
    margin: 0 auto 2rem;
    /* shading */
    border-radius: 0 0 0.4rem 0.4rem;
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07);
  }

.top-nav-title {
    display:flex;
    align-items:center;
    justify-content:center;
  }

.top-nav-title a {
    font-family: "Imprima", sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    color: #ffffff;
    line-height:1.1em;
    padding: 0em 0.5em;
    text-align:center;
  }

.top-nav-title a img {
    width:7rem;
    padding-top:0.5rem;
}

.top-nav-title a:hover{
      background-color:none;
    }

.top-nav-title span {
    color: #bfc9ff;
  }

.top-nav-links {
    display:flex;
    justify-content:flex-end;
    align-items:center;
  }

.top-nav-links a {
    font-family: "Imprima", sans-serif;
    font-weight: bold;
    /* margin: 0 0.5rem;*/
    color: #ffffff;
    padding-left:1rem;
  }

.searchbar {
    background: #a65400;
    border-radius: 1rem;
    margin:0 0.5rem 0 0;
    display:flex;
    align-items:center;
    min-width:150px;
}

.searchbar input[type=text] {
    background: none;
    color:#ffffff;
    border:none;
    margin:0;
    padding:1.5em 1em;
  }

.searchbar input[type="submit"] {
    background: #a65400;
    background-repeat:no-repeat;
    color:#ffffff;
    background-image: url('/img/icon-searchbar.svg');
    border: 0 none;
    margin: 0;
    padding-right: 1.5rem;
    text-indent: 100px; /* this seems like a dirty trick */
    width: 3.6rem;
  }

::placeholder {
  color: #ffffff;
  opacity: 1;
}

/* Side nav */
.side-nav {
  text-align:center;
}

.side-nav-item {
    display:block;
    /* display:flex;
    align-items:center; */
    /* padding: 0.5rem 0; */
    font-size: 1.6rem;
    font-weight: bold;
    color: #663300;
  }

.side-nav-icon:hover, .side-nav-icon:focus {
  background-color: #c3c8e6; /*#cabcaf;*/
  border-radius: 0.4rem;
}

.side-nav-icon {
    display:inline;
    padding: 1rem;
    width:6rem; /* 5.2 */
    /* background-color: #66330029; */ /* #e0d7ce; */
    border-radius: 0.4rem;
    /* padding: 1.25rem;
    width: 6.5rem; */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    margin-bottom:0.5rem;
  }

.side-nav-icon-staff {
      display:inline;
      padding: 0.5rem;
      width:5.2rem;
      border-radius: 0.4rem;
    }

.side-nav-icon-staff:hover {
      background-color: #d6bcbe;
      border-radius: 0.4rem;
    }

.action-icon {
      display:inline;
      width:1em;
    }

.spacer{
    display: inline-block;
    width: 5rem;
}

/* Tooltips */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #663300;
  color: #fff;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;

  /* Position the tooltip text */
  position: absolute;
  top: 1.4rem;
  left: 105%;
  z-index: 99;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -0.75rem;
  border-width: 0.75rem;
  border-style: solid;
  border-color: transparent #663300 transparent transparent;
}

/* Tooltip text for staff */

.tooltip-staff {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip-staff .tooltiptext-staff {
  visibility: hidden;
  width: max-content;
  background-color: #b1000c;
  color: #fff;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  position: absolute;
  top: 1.4rem;
  left: 105%;
  z-index: 99;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-staff:hover .tooltiptext-staff {
  visibility: visible;
}

.tooltip-staff .tooltiptext-staff::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -0.75rem;
  border-width: 0.75rem;
  border-style: solid;
  border-color: transparent #b1000c transparent transparent;
}

/* Sheet heading */
.sheet-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2rem; */
    /* top: 0; */
    z-index: 10;
    /* margin: 0 auto 2rem; */
  }

.sheet-title {
    display:flex;
    align-items:center;
    justify-content:center;
  }

.sheet-markers {
    display:flex;
    justify-content:flex-end;
    align-items:center;
  }

/* Footer */

footer {
    background: linear-gradient(60deg, #402000, #8C4600); /*gray: comment out here */ /*more: #331a00, #994d00 */
    display: flex;
    /* display: block; */
    align-items: stretch;
    vertical-align: bottom;
    justify-content: space-between;
    max-width: 112rem;
    /* max-width: 100%; */
    padding: 2rem 2rem 1.5rem 2rem;
    /* top: 0; */
    z-index: 10;
    margin: 4.5rem auto 0rem;
    /* shading */
    border-radius: 0.4rem 0.4rem 0 0;
    /* box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.07); */
  }

.footer_section {
    /* color: #ffffff; */
    vertical-align: bottom;
    display:block;
    text-align: center;
    width:100%;
  }

.footer_largersection {
      /* color: #ffffff; */
      text-align: center;
      width:200%;
      display:grid;
      justify-items:flex-end;
    }

.footer_section a {
      color: #ffffff; /*gray: comment out here */
      font-family:"Imprima";
      font-size:1.3rem;
      padding-left:0.5rem;
      display:block;
    }

.footer_subsection a:last-child {
  padding-bottom: 0.6rem;
}

.logo td:last-child {
  padding-right: 0rem;
}

/*gray: comment out here */
.footer_section h5 {
    color: #bfc9ff;
    font-weight:bold;
}

.footer_center {
    text-align: center;
    margin-top: -4.5rem;
    display:block;
    width:100%;
  }

.logoblock {
  display:grid;
  grid-template-columns: 10% 33% 22% 30%;
  text-align:center;
  align-items:center;
  justify-content:space-between;
  padding-right:1.5rem;
  /*display:flex;
  justify-content: flex-end;
  align-items:center;
  text-align:right;
  padding-bottom:0em;
  line-height:0em;*/
}

/* View action */
.view.content .text {
    margin-top: 1.2rem;
  }
.related {
    margin-top: 2rem;
  }

/* Flash messages */
.message {
    padding: 1rem;
    background: #ebf0fa;
    color: #606ebf; /*#7786bf;*/
    border-color: #6f7db3; /*#c9d2eb*/
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
  }

.message.hidden {
    display: none;
  }
.message.warning{
  background: #fff2e6;
  color: #f86c00;
  border-color: #f88131;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}

.error-message {
    padding: 1rem;
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}

  /* Forms */
.input.radio,
.input.checkbox {
    margin-bottom: 2.0rem;
  }
.input.radio input,
.input.checkbox input {
    margin: 0;
  }
.input.radio label,
.input.checkbox label {
    margin: 0;
    display: flex;
    align-items: center;
  }
.input.radio label > input,
.input.checkbox label > input {
    margin-right: 1.0rem;
  }
.input.radio label:first-of-type {
    margin-bottom: 2.0rem;
  }

/* Paginator */
.paginator {
    text-align: right;
  }
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
  }
.pagination li {
    margin: 0 0.5rem;
  }
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
  }
.asc:after {
    content: " \2193";
  }
.desc:after {
    content: " \2191";
  }

/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }

/* Photo gallery */
#gallery {
  /* line-height: 1;*/
  -webkit-column-count: 4;
  -webkit-column-gap:   1rem;
  -moz-column-count:    4;
  -moz-column-gap:      1rem;
  column-count:         4;
  column-gap:           1rem;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
}

/* d3js pedigree */
svg {
  /* margin-top: 0.5rem; */
  border: 2px solid #663300;
  border-radius: 0.4rem;
  width: 100%;
  text-align: center;
}

.person rect {
  stroke-width: 2px;
}

.person {
  font-family: "Imprima";
  cursor: pointer;
}

.person text.name {
  font-weight: bold;
  font-size: 14px;
}

.person text.description {
  font-size: 12px;
}

.person text.death {
  font-size: 12px;
}

.person text.dates {
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#fullscreen_container {
  background-color: #ffffff;
}

/* responsiveness */
@media screen and (max-width: 810px) {
  html {
    font-size: 62.5%;
  }
  .top-nav-title a {
    padding: 0 1.5rem 0 0;
  }
  .top-nav-title a img{
    width: 6rem;
  }
  footer {
    display:grid;
    justify-items:center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5em;
  }
  .logoblock {
    text-align:center;
    justify-content:space-around;
    padding:0;
    grid-template-columns: 33% 22% 30%;
  }
  .creditline {
    text-align:center;
    padding-bottom:0.5rem;
    padding-right:0;
  }
  .footer_largersection {
      grid-column-start: 2;
      grid-column-end: 4;
      width:auto;
  }
  .footer_section {
      width:auto;
  }
  .hide-on-tablet {
    display:none;
  }
  #gallery {
    /* line-height: 1;*/
    -webkit-column-count: 3;
    -webkit-column-gap:   1rem;
    -moz-column-count:    3;
    -moz-column-gap:      1rem;
    column-count:         3;
    column-gap:           1rem;
  }
}

@media (min-width: 640px) {
  .row .column-responsive.column-90 {
      flex: 0 0 90%;
      max-width: 90%
  }
}

@media screen and (max-width: 640px) {
    html {
      font-size: 56.25%;
    }
    .hide-on-mobile {
      display:none;
    }
    .row-reverse {
      flex-direction:column-reverse;
    }
    .top-nav {
      margin: 0 auto;
    }
    .side-nav {
      display:inline;
      margin-bottom: 1rem;
    }
    .heading {
      margin-bottom: 1rem;
    }
    .side-nav h3 {
      display:none;
    }
    .side-nav-item {
      display: inline;
      margin: 0 1.5rem 0 0;
    }
    .side-nav-icon {
        display: inline;
        width: 4rem;
        padding: 0.5rem;
      }
    .asc:after {
      content: " \2192";
    }
    .desc:after {
      content: " \2190";
    }
    .spacer{
        width: 1.5rem;
    }

    /* override all milligram transposition stuff */
    table {
        border-spacing: 0;
        display: inherit;
        width: 100%
    }
    table thead {
        border-right: none
    }
    table thead td, table thead th {
        padding-left: 0
    }
    table thead td:first-child, table thead th:first-child {
        padding-left: 0
    }
    table thead td:last-child, table thead th:last-child {
        padding-right: 1.2rem
    }
    table tbody {
        display: inherit;
        overflow-x: inherit;
        white-space: inherit
    }
    table tbody tr {
        border-right: solid 0rem #e1e1e1
    }
    table tbody tr:last-child {
        border-right: none
    }
    table td, table th {
        display: table-cell;
    }
    table td:first-child, table th:first-child {
        padding-left: inherit
    }
    table td:last-child, table th:last-child {
        padding-right: inherit
    }

    #gallery {
      /* line-height: 1;*/
      -webkit-column-count: 2;
      -webkit-column-gap:   1rem;
      -moz-column-count:    2;
      -moz-column-gap:      1rem;
      column-count:         2;
      column-gap:           1rem;
    }
  }
