/*.container {
  max-width: 200rem;
}*/

/* Utils */
.hide-everywhere {
  display:none !important;
}

/* Miligram overrides */
a {
  font-family: "Roboto Condensed"; /* "Alegreya", serif; */
  color: #663300;
}

a:visited, a:focus, a:hover {
  color: #a65400;
}

p {
  margin-bottom:1rem;
}

.staff {
  color:#d33c44;
}

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row-with-photo {
  align-items: center;
}

.row-with-avatar {
  align-items: flex-start;
}

summary {
  font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
  font-weight: bold;
  font-size:2.2rem;
  color: #606ebf;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

summary.faq {
  font-size:1.8rem !important;
}

summary:focus, summary:hover {
  background-color:#ebeefa;
  outline:none;
}

details > summary.h2 {
  font-size:2.8rem;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

details > summary.legend {
  font-size:2.4rem;
  padding-left: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

details:last-of-type {
  margin-bottom:1.5rem;
}

h1, h2, h3, h4, h5, .pretitle a {
  font-weight: bold;
  font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
  color: #606ebf;
  hyphens: manual;
}

.pretitle a:hover, .pretitle a:focus, .pretitle a:hover {
  /*background-color: #ebeefa;*/
  background-color: #edf0fc;
}

h1 {
  font-size:3.6rem; /* 3.6 */
  line-height:1.25;
}

h1 span, h3 span {
  color: #606c76;
  vertical-align: top;
  font-size: 75%;
}

/* ugly stuff that should be improved later for on/off ratteries */
.rotate {
  display:inline-block;
  -webkit-transform:rotate(330deg);
  font-weight: bold;
  min-width:0.75em;
}

a.rotate {
  color: #606c76;
  font-weight: bold;
}

.sun, a.sun {
  color: #ffd42a;
  font-weight: bold;
  font-family: unset;
}
/* end of ugly stuff */

h2 {
  font-size:2.8rem; /*2.8*/
  line-height:1.3;
}

.column-66>h2 {
  margin-top:0;
}

h3 {
  font-size:2.2rem; /*2.2*/
  letter-spacing:0rem; /* -.08rem; */
  line-height:1.35;
}

h4 {
  font-size:1.8rem;
  letter-spacing:0rem; /* -.05rem; */
  line-height:1.5;
}

h5 {
  margin-bottom: 0.5rem;
}

.pretitle {
  font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  color: #606ebf;
  /* in case of wrapping */
  line-height: 1.2;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}

.parent {
  text-align:center;
}
.parent img {
  height: 33vh;
}

.parent table {
  max-width:80%;
}

a sup {
  vertical-align: top;
  font-size: 75%;
}

/* Forms */

button, .button , .button:visited,
input[type='button'], input[type='reset'], input[type='submit'] {
  background: #663300; /* #cabcafa3*/
  border-color: #663300;
  font-family: "Roboto Condensed", serif;
  font-size: 1.6rem;
  color: #ffffff;
}

.button:hover, .button:focus, .button:active {
  color: #ffffff;
  background: #a65400;
  border-color: #a65400;/* #cabcaf; */
}

.button-staff, .button-staff:visited {
  background: #b1000c;
  border-color: #b1000c;
  color: #ffffff;
}

.button-staff:hover, .button-staff:focus, .button-staff:active {
  background: #d33c44;
  border-color: #d33c44;
  color: #ffffff;
}

.float-button {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
}

.button-raised {
  margin-top: -3.5rem;
}

.button-raised a {
  font-size:1.2rem;
  padding: 0.5rem 1rem;
  height: 1.4rem;
  line-height: 1.2;
}


.button-group, .button-small {
   margin-left: auto;
}

.button-small a {
  font-size:1.2rem;
  padding: 0.5rem 1rem;
  height: 2.4rem;
  line-height: 1.2;
}

/* .title-with-button {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: initial;
  justify-content: space-between;
} */

/* .dashboard-button {
    font-size:1.6rem;
    padding: 0.5rem 1rem;
    height: 2.8rem;
    line-height: 1.2;
} */

textarea {
  height:auto;
}

legend, .legend {
  font-family: "Imprima", sans-serif;
  font-size: 2.4rem;
  color:#606ebf;
}

label {
  font-family: "Imprima", sans-serif;
  font-size: 1.8rem;
}

legend, label {
  margin-bottom: 1.2rem;
}

.input.radio label:not(:first-child) {
  font-size: 1.6rem;
  font-weight: normal;
}

.input.radio:nth-of-type(2n) {
  margin-top:-2.5rem;
}

.radio-complement {
  margin-left: 3rem;
  margin-top: -1.5rem;
}

input:read-only {
  background-color: #f5f7fa;
  border-color: #d1d1d1 !important;
  color: #606c76;
}

.autocompleted {
    border: 1px solid #6f7db3 !important;
    border-radius: 0.4rem !important;
    color: #6076bf !important;
    background-color: #ebeefa !important;
    font-weight: bold;
    line-height: 1.5 !important;
}

/* Tables */

tr:hover {
  background-color: #ebeefa;
}

table {
  padding-left:1rem;
}
table.summary {
  padding-left:0rem;
}

table.summary>tbody>tr>td:last-of-type {
  text-align:right;
}
table.summary>thead>tr>th:last-of-type {
  text-align:right;
}

table.summary>tbody>tr>td {
  padding: 0em 0.5em; /* 0.2/0.5rem */
  vertical-align:top; /* middle */
  border-bottom: none;
}

table.summary>thead>tr>th {
  padding: 0em 0.5em; /* 0.2/0.5rem */
  vertical-align:top; /* middle */
}

table.summary {
  margin-bottom:1.4rem;
  font-size: 1.4rem;
}

table.aside-photo>tbody>tr>th{
  width: 44.5%; /* why? */
}

.column-photo {
  max-height: 24rem;
  overflow: visible; /* hidden ? */
  text-align: center;
  display:block;
  width: 100%;
  margin-bottom: 1rem !important;
}

.column-photo > a > img {
  padding: 0.5em;
}

.half-column-photo {
  max-height: revert;
}

.edit-photo > a {
  position: relative;
  display: inline-block;
}

.edit-photo > a:before {
  content: "";
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  background: url('/img/cursor-edit.svg') no-repeat center center;
}

.edit-photo > a:hover:before, .edit-photo > a > img :hover, .edit-photo > a :hover {
  display: block;
  cursor: pointer;
  background-color: #c3c8e6;
}

.column-portrait {
  max-height: 30rem;
  overflow: hidden; /* hidden ? */
  margin-top: -10rem !important;
}

.column-photo, .column-portrait > img {
  display: block;
  margin: auto;
}

table.condensed.stats.histogram>tbody>tr>th>div{
  padding-right:0.5rem;
  float:right;
  min-width:8ch; /*3em for health, 8ch for coi? */
  background:#3d5299;
}

table.condensed.stats.histogram>tbody>tr>th{
  width:40%;
  color:#ffffff;
  text-align:right;
  font-size:smaller;
  font-weight:normal;
  padding:0.25em 0em 0.25em 0.5em;
  vertical-align:middle;
}

table.condensed.stats.histogram>tbody>tr>td{
  font-size:1.4rem;
  line-height:1.2em;
  padding-top:0;
  padding-bottom:0;
  vertical-align:middle;
}

table.condensed.stats>tbody>tr>th{
  width:40%;
  vertical-align:top;
}

table.condensed.stats>tbody>tr>td{
  vertical-align:top;
}

table.condensed.stats {
  vertical-align:top;
}

table.condensed {
  margin-bottom:1.5rem;
}

table {
  margin-bottom:1.5rem;
}

table.caption {
  margin-bottom: 1.5rem;
  padding: 0rem;
  vertical-align:top;
}

table.caption>tbody>tr>th {
  text-align:left;
  font-size:1.4rem;
  padding: 0rem;
  vertical-align:top;
}

table.caption>tbody>tr>td {
  text-align:right;
  font-size:1.4rem;
  padding: 0rem;
  vertical-align:top;
}

/* table.condensed>tbody>tr>td{
border-bottom: none;
padding:0rem 1rem;
}
*/

table.condensed>tbody>tr>th {
  /* border-bottom: none;
  padding:0rem 1rem;*/
  width: 26%;
}

table.review>tbody>tr>th {
  vertical-align: baseline;
}

td,th {
  border-bottom: none;
  padding:0rem 1rem;
}

.col-head {
  font-family: "Roboto Condensed";
  color: #606c76;
}

.actions, .actions-title {
  text-align: right;
}

.summary > th:last-child,
.summary > td:last-child {
  text-align: right;
}

.nowrap {
  white-space: nowrap;
}

.comment, em {
  font-family: "Alegreya", serif;
  font-style: italic;
}

td.comment > p, td.comment > * > li {
  margin-bottom: unset;
}

.comment-head {
  vertical-align: top;
}

ul {
  list-style-type: disc;
}

ul li::marker {
  color: #606ebf;
}

ol li::marker {
  color: #606ebf;
  font-weight: bold;
}

ul, ol, dl {
  padding-left: 1.5em;
  margin-bottom: 2rem;
}

.error-message > ul li::marker {
  color: #cc1f1a;
}

.error-message > ul {
  padding-left: .5em;
  margin-bottom: 0rem;
}

ul.condensed > li {
  margin-bottom: 0rem;
}

blockquote {
  font-family: "Alegreya", serif;
  font-style: italic;
  font-size: 1.7rem;
  border-left: none;
  margin: 1em 0;
  padding: 0.5em 5rem;
  line-height: 1.5;
  position:relative;

}

blockquote:before {
  display: block;
  font-family: "Alegreya", serif;
  font-size: 4em;
  content: "\201C";
  position: absolute;
  left: 0rem;
  top: -2.5rem;
}

.float-right {
  margin-left: 6px;
  text-align:right;
}

.avatar {
  max-width:60%;
}

.sexmark {
  font-size:2.8rem;
  line-height:1.1;
  font-weight:bold;
  /* margin-bottom:2.0rem;
  margin-top:0; */
}

.sexcolor_F {
  color: #ff99cc;
  font-weight:bold;
}

.sexcolor_M {
  color: #99ccff;
  font-weight:bold;
}

/* should be read from states table later ('css property' field) */
.statecolor_1 {
  color: #1f9d55;
  font-weight: bold;
}

.statecolor_2 {
  color: #1f9d55;
  font-weight: bold;
}

.statecolor_3 {
  color: #ff8c1b;
  font-weight: bold;
}

.statecolor_4 {
  color: #cc1f1a;
  font-weight: bold;
}

.statecolor_5 {
  color: #663300;
  font-weight: bold;
}

.statecolor_6 {
  color: #343740;
  font-weight: bold;
}
/* end of states color */

/* diff colors */
.minus {
  background-color: #ffefef;
}

.plus {
  background-color: #ebfff3;
}


/* Utility */
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Main */
body {
  font-family: "Imprima", "Lucida Sans Unicode", sans-serif;
  font-weight: 400;
  background: #f5f7fa;
}

main {
  /* "Sticky" footer - 36.5rem is the height of nav-bar+footer */
  min-height: calc(100vh - 36.5rem);
}

.container {
  margin-top: 2rem;
}

.content {
  padding: 2rem;
  background: #ffffff;
  border-radius: 0.4rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
  0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.actions img{
  min-width: 1.1em;
}

/* .actions a {
font-weight: bold;
padding: 0 0.4rem;
} */

th {
  white-space: nowrap;
  border-bottom-width: 0rem;
  /*padding-bottom:0.2rem;*/
}
.signature {
  font-family:"Alegreya",serif;
  font-style:italic;
  color: #90a2b1;
  font-size: smaller;
  text-align:right;
  padding-top:1.5em;
}
.discrete-link {
  font-family:"Alegreya",serif;
  font-size: 1.6rem;
  font-style:italic;
  margin-bottom: 1.5rem;
}
.creditline {
  font-family:"Alegreya",serif;
  font-style:italic;
  color: #ffffff;  /*gray: comment out here */
  font-size: 1.1rem;
  text-align:right;
  line-height:1.2rem;
  padding-bottom:0.5rem;
  padding-right:1.5rem;
}
.shieldline span {
  color: #bfc9ff; /*gray footer: #606ebf ; hue 226: #bfc99ff*/
}
.shieldline {
  /* font-family:"Alegreya",serif;*/
  color:#ffffff; /*gray footer: #663300 */
  font-size: 1.4rem;
  font-weight: bold;
  line-height:1.5rem;
  text-align:center;
  margin-top:-0.3rem;
  padding-right:0;
}
.versionline {
  font-family:"Alegreya",serif;
  /* font-style:italic; */
  color: #ffffff; /* comment out for gray line */
  font-size: 1rem;
  text-align:center;
  margin-top: 0.2rem;
  /* line-height:1.2rem; */
  /* padding-bottom:0.5rem; */
  /* padding-right:1.5rem; */
}

/* Nav bar */
.top-nav {
  background: linear-gradient(90deg, #402000, #8C4600); /*more: #331a00, #994d00 */
  display: flex;
  /* display: block; */
  align-items: center;
  justify-content: space-between;
  max-width: 112rem;
  /*
  max-width: 100%;
  */
  padding: 2rem;
  /* position: sticky; */
  top: 0;
  z-index: 10;
  margin: 0 auto 2rem;
  /* shading */
  border-radius: 0 0 0.4rem 0.4rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
  0 3px 6px 0 rgba(0, 0, 0, 0.07);
}

.top-nav-title {
  display:flex;
  align-items:center;
  justify-content:center;
}

.top-nav-title a {
  font-family: "Imprima", sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
  color: #ffffff;
  line-height:1.1em;
  padding: 0em 0.5em;
  text-align:center;
}

.top-nav-title a img {
  width:7rem;
  padding-top:0.5rem;
}

.top-nav-title a:hover{
  background-color:none;
}

.top-nav-title span {
  color: #bfc9ff;
}

.top-nav-links {
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.top-nav-links a {
  font-family: "Imprima", sans-serif;
  font-weight: bold;
  /* margin: 0 0.5rem;*/
  color: #ffffff;
  padding-left:1rem;
}

.searchbar {
  background: #a65400;
  border-radius: 1rem;
  margin:0 0.5rem 0 0;
  display:flex;
  align-items:center;
  min-width:150px;
}

.searchbar input[type=text] {
  background: none;
  color:#ffffff;
  border:none;
  margin:0;
  padding:1.5em 1em;
}

.searchbar input[type="submit"] {
  background: #a65400;
  background-repeat:no-repeat;
  color:#ffffff;
  background-image: url('/img/icon-searchbar.svg');
  border: 0 none;
  margin: 0;
  padding-right: 1.5rem;
  text-indent: 100px; /* this seems like a dirty trick */
  width: 3.6rem;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

/* Side nav */
.side-nav {
  text-align:center;
}

.side-nav-group {
  display:inline;
}

.side-nav-item {
  display:block;
  /* display:flex;
  align-items:center; */
  /* padding: 0.5rem 0; */
  font-size: 1.6rem;
  font-weight: bold;
  color: #663300;
}

.side-nav-icon:hover, .side-nav-icon:focus {
  background-color: #c3c8e6; /*#cabcaf;*/
  border-radius: 0.4rem;
  /* transform: scale(1.2, 1.2);
  transition: 0.5s; */
}

.side-nav-icon {
  display:inline;
  padding: 1rem;
  width:6rem; /* 5.2 */
  /* background-color: #66330029; */ /* #e0d7ce; */
  border-radius: 0.4rem;
  /* padding: 1.25rem;
  width: 6.5rem; */
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  margin-bottom:0.5rem;
  /* transition: 0.5s; */
}

.side-nav-icon-staff {
  display:inline;
  padding: 0.5rem;
  width:5.2rem;
  border-radius: 0.4rem;
}

.side-nav-icon-staff:hover {
  background-color: #d6bcbe;
  border-radius: 0.4rem;
}

.disabled > .side-nav-icon, .disabled > .action-icon {
  filter: opacity(0.5) saturate(0.75);
}

.action-icon {
  display:inline;
  width:1em;
}

.spacer{
  display: inline-block;
  width: 5rem;
}

/* Tooltips */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: #663300;
  color: #fff;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;

  /* Position the tooltip text */
  position: absolute;
  top: 1.4rem;
  left: 105%;
  z-index: 99;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible !important;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -0.75rem;
  border-width: 0.75rem;
  border-style: solid;
  border-color: transparent #663300 transparent transparent;
}

/* Tooltip text for staff */

.tooltip-staff {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip-staff .tooltiptext-staff {
  visibility: hidden;
  width: max-content;
  background-color: #b1000c;
  color: #fff;
  text-align: left;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  position: absolute;
  top: 1.4rem;
  left: 105%;
  z-index: 99;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-staff:hover .tooltiptext-staff {
  visibility: visible;
}

.tooltip-staff .tooltiptext-staff::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -0.75rem;
  border-width: 0.75rem;
  border-style: solid;
  border-color: transparent #b1000c transparent transparent;
}

/* Sheet heading */
.sheet-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 2rem; */
  /* top: 0; */
  z-index: 10;
  /* margin: 0 auto 2rem; */
}

.sheet-title {
  display:flex;
  align-items:center;
  justify-content:center;
}

.sheet-markers {
  display:flex;
  justify-content:flex-end;
  align-items:center;
}
/* Footer */

footer {
  background: linear-gradient(60deg, #402000, #8C4600); /*gray: comment out here */ /*more: #331a00, #994d00 */
  display: flex;
  /* display: block; */
  align-items: stretch;
  vertical-align: bottom;
  justify-content: space-between;
  max-width: 112rem;
  /* max-width: 100%; */
  padding: 2rem 2rem 1.5rem 2rem;
  /* top: 0; */
  z-index: 10;
  margin: 4.5rem auto 0rem;
  /* shading */
  border-radius: 0.4rem 0.4rem 0 0;
  /* box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
  0 3px 6px 0 rgba(0, 0, 0, 0.07); */
}

.footer_section {
  /* color: #ffffff; */
  vertical-align: bottom;
  display:block;
  text-align: center;
  width:100%;
}

.footer_largersection {
  /* color: #ffffff; */
  text-align: center;
  width:200%;
  display:grid;
  justify-items:flex-end;
}

.footer_section a {
  color: #ffffff; /*gray: comment out here */
  font-family:"Imprima";
  font-size:1.3rem;
  padding-left:0.5rem;
  display:block;
}

.footer_subsection a:last-child {
  padding-bottom: 0.6rem;
}

.logo td:last-child {
  padding-right: 0rem;
}

.footer_section h5, .footer_section h5 a {
  color: #bfc9ff;
  font-weight:bold;
  font-size: 1.8rem;
}

.footer_center {
  text-align: center;
  margin-top: -4.5rem;
  display:block;
  width:100%;
}

.logoblock {
  display:grid;
  grid-template-columns: 10% 33% 22% 30%;
  text-align:center;
  align-items:center;
  justify-content:space-between;
  padding-right:1.5rem;
  /*display:flex;
  justify-content: flex-end;
  align-items:center;
  text-align:right;
  padding-bottom:0em;
  line-height:0em;*/
}

/* View action */
.view.content .text {
  margin-top: 1.2rem;
}
.related {
  margin-top: 2rem;
}

/* Flash messages */
.message {
  padding: 1rem;
  background: #ebf0fa;
  color: #606ebf; /*#7786bf;*/
  border-color: #6f7db3; /*#c9d2eb*/
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.message.hidden {
  display: none;
}
.message.warning{
  background: #fff7f0; /* #fff2e6; */
  color: #ed6700; /* #f86c00; */
  border-color: #f88131;
}
.message.success {
  background: #e3fcec;
  color: #1f9d55;
  border-color: #51d88a;
}
.message.error {
  background: #fcebea;
  color: #cc1f1a;
  border-color: #ef5753;
}

.message-tiny {
  font-size: 1.4rem;
}

/* Not in app code but needed for rules */
.error-message {
  padding: 1rem;
  background: #fcebea;
  color: #cc1f1a;
  border-color: #ef5753;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 2rem;
}

/* Forms */
.input.radio,
.input.checkbox {
  margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input {
  margin: 0;
}
.input.radio label,
.input.checkbox label {
  margin: 0;
  display: flex;
  align-items: center;
}
.input.radio label > input,
.input.checkbox label > input {
  margin-right: 1.0rem;
}
.input.radio label:first-of-type {
  margin-bottom: 2.0rem;
}

/* Paginator */
.paginator {
  text-align: right;
}
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
}
.pagination li {
  margin: 0 0.5rem;
}
.disabled:hover,
.disabled a,
.prev.disabled a,
.next.disabled a {
  cursor: not-allowed;
  color: #606c76;
}
.asc:after {
  content: " \2193";
}
.desc:after {
  content: " \2191";
}

/* Error */
.error-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

/* Photo gallery */
#gallery {
  /* line-height: 1;*/
  -webkit-column-count: 4;
  -webkit-column-gap:   1rem;
  -moz-column-count:    4;
  -moz-column-gap:      1rem;
  column-count:         4;
  column-gap:           1rem;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
}

#sitemap {
  /* line-height: 1;*/
  -webkit-column-count: 3;
  -webkit-column-gap:   1rem;
  -moz-column-count:    3;
  -moz-column-gap:      1rem;
  column-count:         3;
  column-gap:           1rem;
}

.sitemap-category {
  break-inside: avoid-column;
}

/* Statistics canvas */
canvas {
  margin-bottom: 1.5rem;
}

/* d3js pedigree */
svg {
  /* margin-top: 0.5rem; */
  border: 2px solid #663300;
  border-radius: 0.4rem;
  width: 100%;
  text-align: center;
}

.person rect {
  stroke-width: 2px;
}

.person {
  font-family: "Imprima", sans-serif;
  /* cursor: col-resize; */
  cursor: pointer;
}

.person text.name {
  font-weight: bold;
  font-size: 14px;
}

.person text.description {
  font-size: 12px;
}

.person text.death {
  font-size: 12px;
}

.person text.dates {
  font-size: 12px;
}

.person text.more_parents,
.person text.more_children,
.pedigree-button1,
.pedigree-button2 {
  font-size: 10px;
  transform: scale(1, 2);
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#fullscreen_container {
  background-color: #ffffff;
}

.pedigree-button1, .pedigree-button2 {
  color: #663300;
  background-color: #ebeefa;
  cursor: pointer;
  letter-spacing: -0.2em;
  border-radius: 10em;
}

.pedigree-button1 {
  position: absolute;
  margin-left: -3em;
  margin-top: 1.5em;
  padding: 0em 0.5em;
}

.pedigree-button2 {
  position: absolute;
  margin-left: -6em;
  margin-top: 1.5em;
  padding: 0em 0.75em 0em 0.25em;
}

/** Mozilla Firefox specials */
@-moz-document url-prefix() {
  h1 {
    -webkit-text-stroke: 0.01em #6076bf;
    letter-spacing: -0.04em;
  }

  h2 {
    /* -webkit-text-stroke: 0.01em #6076bf; */
    letter-spacing: -0.05em;
  }

  h3, summary, legend {
    /* -webkit-text-stroke: 0.01em #6076bf; */
    letter-spacing: -0.04em;
  }

  h4, h5, .pretitle, label {
    /* -webkit-text-stroke: 0.01em #6076bf; */
    letter-spacing: -0.04em;
  }

  b, strong, th {
    letter-spacing: -0.02em;
  }

  /* .footer_section h5 {
    -webkit-text-stroke: 0.01em #bfc9ff;
    letter-spacing: -0.04em;
  }

  .top-nav-title a {
    -webkit-text-stroke: 0.02em #ffffff;
    letter-spacing: -0.01em;
  }

  .top-nav-title a {
    -webkit-text-stroke: 0.02em #bfc9ff;
  }

  .sexcolor_M, .sexcolor_F {
    -webkit-text-stroke: revert;
  }

  .sexcolor_F {
    -webkit-text-stroke: 0.02em #ff99cc;
  }

  .sexcolor_M {
    -webkit-text-stroke: 0.02em #99ccff;
  } */

  .shieldline {
    letter-spacing: -0.02em;
  }
}
