.current-statemark {
  font-size:3rem;
  line-height:1;
  font-weight: bold;
  padding: 1rem 1.25rem;
  box-shadow: 0px -7px 14px 0 rgb(60 66 87 / 10%) inset, 0px 6px 6px 0 rgb(0 0 0 / 7%) inset;
  border-radius:20em;
  min-width: 1.33em;
}

.statemark, a.statemark, a.statemark:visited {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  min-width: 1.33em;
}

.statemark:hover, a.statemark:hover {
  box-shadow: 0px -7px 14px 0 rgb(60 66 87 / 10%) inset, 0px 6px 6px 0 rgb(0 0 0 / 7%) inset;
  border-radius: 20em;
  background-color: #c3c8e688;
  transform: scale(1.33);
  min-width: 1.33em;
}

.staff-action-symbol{
  line-height:1;
  padding:0.5rem;
}

.staff-action-symbol img {
  width: 1.5rem;
}

/* Tooltip container */
.tooltip-state {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip-state .tooltiptext-state {
  visibility: hidden;
  width: max-content;
  background-color: #663300;
  color: #fff;
  text-align: right;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  /* Position the tooltip text */
  position: absolute;
  top: 1rem;
  right: 5.33rem;
  z-index: 99;
}

.tooltip-state:hover .tooltiptext-state {
  visibility: visible;
}

.tooltip-state .tooltiptext-state::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -0.75rem;
  border-width: 0.75rem;
  border-style: solid;
  border-color: transparent transparent transparent #663300;
}

.staff-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.staff-heading > h2 {
  margin-top:1rem;
  margin-bottom:1rem;
}

h1 {
  margin-top:-2rem;
}

a.statecolor_1  {
  color: #1f9d55;
  font-weight: bold;
}

a.statecolor_2 {
  color: #1f9d55;
  font-weight: bold;
}

a.statecolor_3 {
  color: #ff8c1b;
  font-weight: bold;
}

a.statecolor_4 {
  color: #cc1f1a;
  font-weight: bold;
}

a.statecolor_5 {
  color: #663300;
  font-weight: bold;
}

a.statecolor_6 {
  color: #343740;
  font-weight: bold;
}

h1 {
  max-width: 95%;
}

h1.half {
  max-width: 92.5%;
}

.mini-statebar {
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  margin-bottom:0.5rem;
}

.restore-icon {
  width: 7rem !important;
  padding: 1.5rem;
}

@media screen and (max-width: 640px) {
  .staff-action-symbol {
    padding: 0rem;
  }
  .staff-action-symbol img {
    width: 1.25rem;
  }
  h1 {
    margin-top:-1rem;
  }

  .current-statemark {
    font-size:2rem;
    line-height:1;
    font-weight: normal;
    padding: 0.75rem 1rem;
    box-shadow: 0px -7px 14px 0 rgb(60 66 87 / 10%) inset, 0px 6px 6px 0 rgb(0 0 0 / 7%) inset;
    border-radius:20em;
    min-width: 1.33em;
  }

  .statemark, a.statemark, a.statemark:visited {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: normal;
    padding: 0.33rem 0.5rem;
    min-width: 1.33em;
  }

}
