/* Tabs */
.tab-wrapper{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.tab{
  cursor: pointer;
  padding: 0.5em 1em;
  margin: 0rem;
  display:inline-block;
  border-radius:0.4rem 0.4rem 0rem 0rem;
  font-weight: bold;
  /* box-shadow: 0 0.5rem 0.8rem #00000080;*/
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
  0 0px 6px 0 rgba(0, 0, 0, 0.07);
}
.tab-icon {
    display:inline;
    background-color: transparent;
    padding: 0rem;
    width:3rem;
  }
.panels{
  background:#ffffff;
  /* min-height:200px; */
  width:100%;
  max-width:100rem;
  overflow:hidden;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
  0 0px 6px 0 rgba(0, 0, 0, 0.07);
  border-radius:0rem 0.4rem 0.4rem 0rem;
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
input[type=radio].radio{
  display:none;
}

#one-tab {
    background: #66330088; /* bleu #c3c8e688; */
}
#two-tab {
    background: #ff99cf88;
}
#three-tab {
    background: #99ccff88;
}
#four-tab {
    background: #606c7644;
}
#five-tab {
    background: #cc1f1a55;
}
#six-tab {
    background: #ff8c1b55;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel,
#six:checked ~ .panels #six-panel {
  display:block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab,
#six:checked ~ .tabs #six-tab {
  background:#ffffff;
  border-top: 1rem solid #ffffff;
  width: 10rem;
  text-align:center;
}

/* blue : invert(41%) sepia(10%) saturate(2867%) hue-rotate(194deg) brightness(102%) contrast(83%); */
#one:checked ~ .tabs #one-tab > img {
  filter: scale(2) brightness(0) saturate(100%) invert(18%) sepia(87%) saturate(1194%) hue-rotate(13deg) brightness(99%) contrast(104%);
}

#two:checked ~ .tabs #two-tab > img {
  filter: brightness(0) saturate(100%) invert(77%) sepia(98%) saturate(3360%) hue-rotate(285deg) brightness(102%) contrast(106%);
}

#three:checked ~ .tabs #three-tab > img {
  filter: brightness(0) saturate(100%) invert(75%) sepia(45%) saturate(693%) hue-rotate(181deg) brightness(101%) contrast(103%);
}

#four:checked ~ .tabs #four-tab > img {
  filter: brightness(0) saturate(100%) invert(77%) sepia(11%) saturate(96%) hue-rotate(163deg) brightness(87%) contrast(87%);
}

#five:checked ~ .tabs #five-tab > img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(53%) saturate(6950%) hue-rotate(356deg) brightness(95%) contrast(87%);
}

#six:checked ~ .tabs #six-tab > img {
  filter: brightness(0) saturate(100%) invert(59%) sepia(14%) saturate(3193%) hue-rotate(346deg) brightness(106%) contrast(101%);
}

/* filter: brightness(0) saturate(100%) invert(77%) sepia(98%) saturate(3360%) hue-rotate(285deg) brightness(102%) contrast(106%);

/* color:#606ebf;*/

/* color for females/males */
/* From black to #ff99cf(88) */
/* filter: invert(77%) sepia(98%) saturate(3360%) hue-rotate(285deg) brightness(102%) contrast(106%); */

/* #99ccff88 */
/* hover : #c3c8e6 */
