/* Tabs */
.tab-wrapper{
  display:flex;
  flex-direction: column;
  align-items: right;
}
.tab{
  cursor: pointer;
  padding: 1em 2em;
  margin:0 0.25rem;
  background: #f5f7fa;
  display:inline-block;
  color: #fff;
  border-radius:0.5rem;
  /* box-shadow: 0 0.5rem 0.8rem #00000080;*/
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
  0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
input[type=radio].radio{
  display:none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#663300;
  color:#663300;
  border-top: 3px solid #663300;
}
